@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --main-color: #254336;
  --second-color: #6b8a7a;
  --third-color: #b7b597;
  --fourth-color: #dad3be;
}
